@page "/mitt-bibliotekskonto"

<PageTitle>Home</PageTitle>

<!-- Sidomeny ska finnas på varje sida -->

<!-- foreach card -->
<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6"><MudIcon Icon="@Icons.Material.Filled.Newspaper" />Senaste</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText>This day everything happened.</MudText>
        <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
    </MudCardActions>
</MudCard>

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6"><MudIcon Icon="@Icons.Material.Filled.Notifications" />Mina Notiser</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText>This day everything happened.</MudText>
        <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
    </MudCardActions>
</MudCard>

<MudMenu Label="Click here to test">
	<MudMenuItem>It works</MudMenuItem>
</MudMenu>

<h1>Hej Joe Doe,</h1>

Welcome to your new app.

<!-- SENASTE -->
<!-- MINA NOTISER -->
<!-- PUSH-NOTISER -->

@code {

}
